* {
  font-family: Arial, Helvetica, sans-serif;
}

table, th, td {
  border: 1px solid black;
}

table {
width: 100%;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input:focus {
  border: 3px solid #555;
}

th { background-color: #bdd6ff; }
td { padding : 20px; }
